.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: calc(100vw - 60px); */
  height: 100vh;
  padding-top: 100px;
}
.banner > img {
  width: 40vw;
  height: auto;
}
.banner > div {
  display: flex;
  flex-direction: column;
}
.banner > div > p {
  font-weight: 700;
  font-size: 32px;
  font-weight: 800;
  background: linear-gradient(
    120deg,
    var(--gradientTextLight1),
    var(--gradientTextLight2)
  );
  color: transparent;
  background-clip: text;
  width: max-content;
}
.banner > div > h1 {
  font-size: 128px;
  line-height: 128px;
  font-weight: 800;
  background: linear-gradient(120deg, #2b83ff, #24008f);
  color: transparent;
  background-clip: text;
}
.banner > div > h4 {
  font-size: 96px;
  line-height: 96px;
  font-weight: 800;
  background: linear-gradient(120deg, #a984ff, #3d0362);
  color: transparent;
  background-clip: text;
}

.summary {
  width: 100vw;
  background-image: url("/images/Mesh.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: grid;
  place-content: center;
}
.summary > div {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.summary > div > h2 {
  font-size: 90px;
  line-height: 90px;
  font-weight: 800;
  background: linear-gradient(120deg, #0542d1, #7901e2);
  color: transparent;
  background-clip: text;
  width: max-content;
  margin-bottom: -40px;
}
.summary > div > p {
  color: #23017b;
  font-weight: 600;
  text-align: center;
  background-color: #b5b5ff26;
  padding: 100px;
  border-radius: 60px;
  backdrop-filter: blur(5px);
}
.locations > h2,
.whys > h2,
.achievers > h2 {
  background: linear-gradient(120deg, var(--courseTitle1), var(--courseTitle2));
  color: transparent;
  background-clip: text;
  width: max-content;
  font-size: 30px;
  font-weight: 800;
}
.locations > div,
.whys > div {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 50px;
}
.location {
  position: relative;
  overflow: visible;
  width: 350px;
}
.location > span {
  position: absolute;
  left: -80px;
  top: 0;
  transform: rotate(-90deg);
  font-weight: 900;
  font-size: 20px;
  background: linear-gradient(120deg, #94bbf9, #9e88ff);
  color: transparent;
  background-clip: text;
  margin-top: 80px;
}
.location > iframe {
  border: 0;
  border-radius: 30px;
  width: 350px;
  height: 350px;
  /* box-shadow: 0 10px 30px var(--shadowOpacity2); */
  background: linear-gradient(120deg, #a7bcff68, #c6a2ff71);
  padding: 10px;
}
.location > p {
  font-size: small;
  text-align: center;
  padding: 0px 40px;
  font-weight: 600;
}
.whys > div {
  justify-content: space-evenly;
  margin-bottom: 100px;
}
.why {
  display: flex;
  align-items: center;
  gap: 15px;
}
.why > img {
  width: 70px;
  height: 70px;
  padding: 20px;
  background-color: #f1f2ff;
  border: 1px solid #dadbff;
  border-radius: 20px;
}
.why > span {
  font-size: 14px;
  font-weight: 600;
  background: linear-gradient(120deg, #94bbf9, #9e88ff);
  color: transparent;
  background-clip: text;
  width: 90px;
}
.achievers {
  margin: 100px auto;
}
.achievers > div {
  display: flex;
  align-items: center;
  gap: 50px;
  overflow-x: scroll;
  margin-top: 30px;
}
.achievers > div > img {
  border-radius: 30px;
}

@media (max-width: 600px) {
  .banner {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 50px;
  }
  .banner > img {
    width: 85vw;
  }
  .banner > div {
    align-items: center;
  }
  .banner > div > p {
    font-size: 30px;
    line-height: 30px;
  }
  .banner > div > h1 {
    font-size: 90px;
    line-height: 90px;
  }
  .banner > div > h4 {
    font-size: 50px;
    line-height: 50px;
  }
  .summary {
    height: 100%;
    margin: 100px 0;
  }
  .summary > div > p {
    padding: 60px 30px;
  }
  .summary > div > h2 {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: -25px;
  }
  .locations > div {
    gap: 40px;
  }
  .location {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .location > span {
    left: -45px;
  }
  .location > iframe {
    width: 280px;
    height: 280px;
  }
  .whys > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .why {
    flex-direction: column;
    align-items: center;
  }
  .why > img {
    width: 90px;
    height: 90px;
    padding: 25px;
    border-radius: 20px;
  }
  .why > span {
    font-size: 10px;
    text-align: center;
    width: 100px;
  }
}
