.Button1,
.Button2 {
  padding: 15px 20px;
  border-radius: 10px;
  background: linear-gradient(
    120deg,
    var(--gradientButtonLight1),
    var(--gradientButtonLight2)
  );
  font-weight: 600;
  color: white;
  box-shadow: -10px -10px 40px var(--shadowLight1),
    10px 10px 40px var(--shadowLight2);
  cursor: pointer;
}

.Button1 > span {
  opacity: 0.9;
}

.Button2 {
  background: var(--btn2);
  border: 1px solid var(--btn2Border);
  box-shadow: none;
  color: var(--btn2Text);
  padding: 10px 15px;
  font-size: smaller;
}

@media (max-width: 500px) {
  .Button1 {
    padding: 10px 15px;
    box-shadow: -5px -5px 30px var(--shadowLight1),
      5px 5px 30px var(--shadowLight2);
  }
  .Button1 > span {
    font-size: small;
  }
  .Button2 {
    padding: 7px 10px;
    border-radius: 7px;
  }
  .Button2 > span {
    font-size: 10px;
  }
}
