.enroll {
  display: flex;
  width: max-content;
  margin: auto;
  position: relative;
}
.enroll > h5 {
  background-color: rgb(250, 245, 255);
  color: rgb(109, 4, 255);
  border-radius: 50px;
  padding: 10px;
  width: 35px;
  height: 35px;
  display: grid;
  place-content: center;
  position: absolute;
  right: -10px;
  top: -10px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
}
.highlights {
  padding: 50px 100px 50px 50px;
  background: linear-gradient(120deg, rgb(0, 157, 255), rgb(117, 2, 156));
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  margin-right: -50px;
}
.highlights > div {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.highlights > div > h2 {
  font-size: 30px;
  font-weight: 900;
  background: linear-gradient(120deg, white, var(--textGrad));
  color: transparent;
  background-clip: text;
}
.highlights > div > span {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  line-height: 14px;
}
.modal {
  width: max-content;
  padding: 50px;
  border-radius: 30px;
  gap: 50px;
  background-color: white;
}
.modal > h2 {
  font-size: 20px;
  background: linear-gradient(120deg, var(--courseTitle1), var(--courseTitle2));
  color: transparent;
  background-clip: text;
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.modal > h2 > span:first-of-type {
  width: 70px;
  height: 1px;
  background: linear-gradient(90deg, transparent, rgba(44, 0, 167, 0.512));
}
.modal > h2 > span:last-of-type {
  width: 70px;
  height: 1px;
  background: linear-gradient(90deg, rgba(44, 0, 167, 0.512), transparent);
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form > input,
.form > select {
  width: 300px;
  height: 45px;
  border: 1px solid var(--inputBorder);
  background-color: var(--inputBG);
  border-radius: 10px;
  text-indent: 10px;
  padding-right: 20px;
}
.form > span {
  color: rgb(255, 161, 161);
  font-size: small;
  text-align: center;
}
.form > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.form > div > p {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  background-color: rgb(245, 251, 255);
  cursor: pointer;
  border: 2px solid rgb(211, 239, 255);
}
.form > button {
  height: 45px;
  border-radius: 10px;
  background: linear-gradient(
    120deg,
    var(--gradientButtonLight1),
    var(--gradientButtonLight2)
  );
  font-weight: 600;
  color: white;
  box-shadow: -10px -10px 40px var(--shadowOpacity1),
    10px 10px 40px var(--shadowOpacity2);
  border: none;
  cursor: pointer;
}
.form > h6 {
  background: linear-gradient(
    120deg,
    var(--gradientButtonLight1),
    var(--gradientButtonLight2)
  );
  background-clip: text;
  color: transparent;
  font-weight: 500;
  font-size: medium;
}
.form > img {
  width: 50px;
}

@media (max-width: 500px) {
  .highlights {
    display: none;
  }
  .modal {
    padding: 30px;
  }
  .modal > h2 {
    font-size: 12px;
  }
  .modal > h2 > span {
    width: 40px;
  }
  .modal input,
  .modal select {
    width: 100%;
  }
}
