.highlights {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  background-image: url("../public/images/HighBG.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.highlights > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.highlights > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90px;
  margin-top: -40px;
  margin-bottom: 20px;
}
.highlights > div > div > h2 {
  font-size: 90px;
  font-weight: bolder;
  margin-bottom: -70px;
  color: transparent;
  background: linear-gradient(120deg, white, var(--textGrad));
  background-clip: text;
}
.highlights > div > div > span {
  padding: 30px 0;
  background-color: var(--glass);
  border-radius: 20px;
  font-weight: 600;
  font-size: small;
  text-align: center;
  min-width: 150px;
  max-width: 200px;
  backdrop-filter: blur(2px);
  color: var(--textLight);
}

@media (max-width: 900px) {
  .highlights > div > div {
    margin-top: -20px;
  }
  .highlights > div > div > h2 {
    font-size: 64px;
    margin-bottom: -50px;
  }
  .highlights > div > div > span {
    padding: 20px 0;
    min-width: 100px;
    font-size: smaller;
  }
}

@media (max-width: 500px) {
  .highlights {
    background-image: url("../public/images/HighBGM.png");
    width: 100vw;
    height: 320px;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    padding: 50px auto;
    gap: 0px;
    margin-top: 0;
  }
  .highlights > div {
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .highlights > div > div {
    margin: 0;
    margin-top: 10px;
    width: 40vw;
  }
  .highlights > div > div > h2 {
    font-size: 40px;
    margin-bottom: 0px;
  }
  .highlights > div > div > span {
    padding: 20px 10px;
    min-width: none;
    max-width: 40vw;
    font-size: 10px;
    margin-top: -30px;
    border-radius: 10px;
  }
}
