.banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  padding: 0 80px;
  position: relative;
  width: 100vw;
  background-image: url("../public/images/HomeBG.webp");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50%;
  gap: 10px;
  margin-top: 50px;
}
.content {
  display: flex;
  padding: 30px;
  background: linear-gradient(120deg, #ecf4ff, #f8f0ff);
  width: 70vw;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  z-index: -1;
}
.content > span {
  width: 2px;
  height: 100%;
  border-radius: 10px;
  margin-right: 20px;
  background: linear-gradient(#267ffd, #6b03cc, var(--gradientTextLight1));
}
.subtitle {
  font-size: 36px;
  background: linear-gradient(120deg, #267ffd, #033070);
  color: transparent;
  background-clip: text;
  margin-top: -10px;
  width: max-content;
  white-space: nowrap;
}
.title {
  font-size: 80px;
  line-height: 80px;
  font-weight: 900;
  background: linear-gradient(120deg, #4da9ff, #6b03cc);
  color: transparent;
  background-clip: text;
  width: max-content;
}
.content h3 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 800;
  background: linear-gradient(
    120deg,
    var(--gradientTextLight1),
    var(--gradientTextLight2)
  );
  color: transparent;
  background-clip: text;
  width: max-content;
}
.btns {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  background: linear-gradient(120deg, #fff5ec, #ffdfc2);
  padding: 20px;
  border-radius: 20px;
}
.btns > button {
  padding: 10px 30px;
  color: var(--background);
  background-color: #f87001;
  border-radius: 10px;
  border: none;
  font-weight: 800;
  height: 60px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 10px 30px rgb(255, 162, 128);
}
.call {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  color: #ffffff;
  font-weight: 700;
  border-radius: 10px;
  background-color: #333335;
  cursor: pointer;
  box-shadow: 0 10px 30px rgb(189, 189, 189);
}
.location {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.location > img {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 70px;
  background-color: #f9f3ff;
}
.location > span {
  font-weight: 700;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  backdrop-filter: blur(10px);
}

@media (max-width: 600px) {
  .banner {
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    background-image: url("../public/images/HomeBGM.webp");
    background-size: 100%;
    background-position: bottom;
  }
  .content {
    padding: 0;
    background: none;
  }
  .content > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .content > span {
    display: none;
  }
  .banner > img {
    width: 100px;
    height: 100px;
    margin-top: 130px;
  }
  .title {
    font-size: 56px;
    line-height: 55px;
    text-align: center;
  }
  .subtitle {
    font-size: x-large;
    line-height: 20px;
    text-align: center;
  }
  .banner h3 {
    font-size: xx-large;
    line-height: 35px;
    text-align: center;
  }
  .btns {
    margin-top: 10px;
  }
  .btns > button {
    padding: 10px 25px;
    font-size: smaller;
    height: 50px;
  }
  .call {
    height: 50px;
    padding: 10px 15px;
  }
  .call > img {
    width: 15px;
    height: 20px;
  }
  .call > span {
    font-size: smaller;
  }
  .location {
    margin-top: 5px;
  }
}
